

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a  href="#"><mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon></a>  
      <a class="navbar-brand" href="javascript:void(0)"><span>Accounting</span> </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                General
                </a>
           
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#"> Chart of Accounts </a>
                  <a class="dropdown-item" href="#">  Charge Items  </a>
                  <a class="dropdown-item" href="#">  Cost Items  </a>
                  <a class="dropdown-item" href="#"> General Journal Entry</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">  Account Summary </a>
             
                </div>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                
Account Receivable
                </a>

      
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">    Invoice Queue </a>
                  <a class="dropdown-item" href="#"> Add Invoice</a>
                  <a class="dropdown-item" href="#">  Credit Note </a>
                  <a class="dropdown-item" href="#"> Search Invoice</a>
                  <a class="dropdown-item" href="#"> Receive Payment </a>
                  <a class="dropdown-item" href="#">  A/R Aging </a>
                  <a class="dropdown-item" href="#">  A/R Detail</a>
                
                </div>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Account Payable
                </a>
           
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Payables Queue </a>
                  <a class="dropdown-item" href="#"> Bill Pay </a>
                  <a class="dropdown-item" href="#">  Write Checks </a>
                  <a class="dropdown-item" href="#">  Print Checks </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">  A/P Aging  </a>
                  <a class="dropdown-item" href="#">   A/P Detail  </a>
                  <a class="dropdown-item" href="#">     A/P Dispute  </a>
                </div>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bank
                </a>
              
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#"> Bank Register  </a>
                  <a class="dropdown-item" href="#">Write Checks</a>
                  <a class="dropdown-item" href="#">Print Checks </a>
                  <a class="dropdown-item" href="#">  Manage Checks </a>
                  <a class="dropdown-item" href="#">  Bank Deposit </a>
                </div>
          </li>
       
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Account Report
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#"> Sales Report</a>
                  <a class="dropdown-item" href="#"> Expenses Report</a>
                  <a class="dropdown-item" href="#">  General Ledger</a>
                </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Financial
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">  Balance Sheet </a>
                <a class="dropdown-item" href="#">    Income Statement </a>
                <a class="dropdown-item" href="#">     Trial Blanace</a>
              </div>
        </li>
        
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>