<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a  href="#"><mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon></a>  
      <a class="navbar-brand" href="javascript:void(0)"><span>Domestic </span> </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Site Admin
                </a>
  
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">User Admin</a>
                  <a class="dropdown-item" href="#">Company Information</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Prefix Manager </a>
                  <a class="dropdown-item" href="#">Favorite Manager </a>
                </div>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Master Data
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Client/Partner Profile</a>
                  <a class="dropdown-item" href="#">Rate Manager</a>
                  <a class="dropdown-item" href="#">Port</a>
                  <a class="dropdown-item" href="#">Freight Location</a>
                  <a class="dropdown-item" href="#">Schedule B</a>
                  <a class="dropdown-item" href="#">Charge Items </a>
                  <a class="dropdown-item" href="#">Cost Items</a>
                  <a class="dropdown-item" href="#">Master AWB No.</a>
                </div>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Pre-shipment
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Pickup Order</a>
                  <a class="dropdown-item" href="#"> Warehouse Receipt </a>
                  <a class="dropdown-item" href="#"> Ship Out </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">On-Hand Report </a>
                  <a class="dropdown-item" href="#"> In & Out Report </a>
                </div>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Domestic Freight
                </a>
   Booking Print LabelSearch
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">              Air Booking </a>
                  <a class="dropdown-item" href="#">Ground Booking</a>
                  <a class="dropdown-item" href="#">Master AirBill </a>
                  <a class="dropdown-item" href="#">Master GroundBill </a>
                  <a class="dropdown-item" href="#">House AirBill </a>
                  <a class="dropdown-item" href="#"> Pre-Alert </a>
                  <a class="dropdown-item" href="#">Delivery Confirmation </a>
                 
                  <a class="dropdown-item" href="#">Print Label</a>
                  <a class="dropdown-item" href="#">DO Search</a>
                
                </div>
          </li>
       
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Report
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#"> Operation Report</a>
                 
                  <a class="dropdown-item" href="#">  PNL</a>
                </div>
          </li>
        
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
